<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <style>
        /* Reset some basic elements */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}
.sollu{
    text-align: center;
    margin: 10px;
   line-height: 1.6;
   margin-bottom: 40px;
   font-size: 35px;
}
h2{
    margin-bottom: 20px;
}
p{
    font-size: 25px;
    margin-bottom: 20px;
}


main {
    max-width: 96%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.hehe{
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    background-color: rgb(91, 189, 238);
}


    </style>
    <main>
        <p class="sollu">
            Healthy Food = Healthy life &#128077;<br>
            Tasty Food = Happy life &#9996;<br>
            What if the food can be Healthy and Tasty?<br>Heaven Right? &#129310; <br>
            That is available here...
        </p>
        <p>
            Solo-Chef:Your Culinary Companion is your ultimate cooking companion. We make it easy to discover and share the joy of cooking. Whether you're looking for a quick dinner recipe or a complex culinary delight, our extensive database of recipes caters to all skill levels and tastes. With our intuitive search feature, you can find the perfect recipe just by entering ingredients, cuisine types, or ingredients.
        </p>
        <p>
            Our goal is to inspire creativity in the kitchen, helping you to cook delicious meals every day. Enjoy exploring new dishes and expanding your culinary repertoire with Recipe Finder!
        </p>
        <p class="hehe">@Solo-Chef &#127859;</p>
    </main>
</body>
</html>
